
    <h1>Autores del Quiz</h1>
    <p>Fernando Ramirez Feliu y Juan Carlos Calvo Sansegundo</p>
    <p><a href="/">Volver al inicio</a></p>
    <img  src='/images/fer.jpg' height ="400px" width="272px">
    <img  src='/images/carlos.jpg' height ="400px" width="272px">
 